body {
    background-color: black;
    color:darkgoldenrod;
}
img {
    image height:350px; width:360px;
}


span {color: brown;
font-weight: bold;
font-size: larger;}

.top-section {color: blueviolet;}



.outro {font-size: xx-large;

}
.div-1 {font-size: small;
color: lightpink;
font-weight: bolder;}

.box {background-color:pink;
margin: 100px;

border: 5px solid greenyellow;

padding: 10px; 


}

.box2 {
    width: fit-content;
background-color: antiquewhite;
font-size: x-large;
color: chartreuse;

margin: 100px;

border: 10px solid red


}
/*
margin
Border
padding

*/

.container {
    background-color: aquamarine;
    font-size: larger;
border: 5px solid red;
display: flex;
}

.container > div {
     flex: 1;
}

.logout {
flex: 2;

} 

