body {
    background-color: black;
    color:darkgoldenrod;
}
img {
    image height:350px; width:360px;
}


span {color: brown;
font-weight: bold;
font-size: larger;}

.top-section {color: blueviolet;}



.outro {font-size: xx-large;

}
.div-1 {font-size: small;
color: lightpink;
font-weight: bolder;}

.box {background-color:pink;
margin: 100px;

border: 50px solid greenyellow;

padding: 100px; 


}

/*
margin
Border
padding

*/

